.playFieldWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.sizeButtonsWrap {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.descrBtnText {
  font-size: 1rem;
  color: var(--text-secondary);
  font-weight: 500;
}
