.statusContainer {
  position: absolute;
  top: 26%;
  left: 30%;
  transform: translateX(-50%);
  z-index: 1000;
}

@media (min-width: 600px) {
  .statusContainer {
    top: 35%;
    left: 45%;
  }
}
