.gameHeaderWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-top: 12px;
}

.settingBtn {
  background-color: inherit;
}

.settingBtn:hover {
  background-color: inherit;
  transform: scale(1.1);
}
